@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-work: var(--font-work-sans);
  --font-ovo: var(--font-ovo);
  --font-roboto: var(--font-roboto);
  --font-poppins: var(--font-poppins);
  --color-lightHover: '#fcf4ff';
  --color-darkHover: '#2a004a';
}

html{
  @apply scroll-smooth;
}
